$light-red:RGBA(255, 0, 0, 0.3);
$light-orange: RGBA(255, 97, 0, 0.3);
$light-yellow: RGBA(255, 255, 0, 0.3);
$light-green: RGBA(0, 255, 0, 0.3);
$light-blue: RGBA(0, 0, 255, 0.3);
$light-purple: RGBA(139, 0, 255, 0.3);